<form [formGroup]="formModify">
  <div class="container">
    <p><br/><strong>Modification de l'utilisateur</strong></p>

    <div class="my-2 formGroup row">
      <label class="col-6 col-sm-3" for="userId">Id ASC :</label>
      <div class="col-6 col-sm-4">
     <!--   <input type="text" id="userId" class="form-control" formControlName="userId">-->
          <label id="userId" >{{this.idUser}}</label>

      </div>
    </div>
    <div class="my-2 formGroup row">
      <label class="col-6 col-sm-3" for="nomJoueur">Nom :</label>
      <div class="col-6 col-sm-4">
        <input type="text" id="nomJoueur" class="form-control" formControlName="nomJoueur" >
        <!--           <label id="lastName" >{{this.lastName}}</label>-->
      </div>
    </div>
    <div class="my-2 formGroup row">
      <label class="col-6 col-sm-3" for="prenomJoueur">Prénom :</label>
      <div class="col-6 col-sm-4">
        <input type="text" id="prenomJoueur" class="form-control" formControlName="prenomJoueur">
        <!--           <label id="firstName" >{{this.firstName}}</label>-->
      </div>
    </div>
    <div class="my-2 formGroup row">
      <label class="col-6 col-sm-3" for="mailJoueur">Adresse email :</label>
      <div class="col-6 col-sm-4">
        <input type="text" id="mailJoueur" class="form-control" formControlName="mailJoueur">
      </div>
    </div>
    <div class="my-2 formGroup row">
      <label class="col-6 col-sm-3" for="telJoueur">N° tel :</label>
      <div class="col-6 col-sm-4">
        <input type="text" id="telJoueur" class="form-control" formControlName="telJoueur">
      </div>
    </div>
    <div class="my-2 formGroup row">
      <label class="col-6 col-sm-3" for="role">Roles :</label>
      <div class="col-6 col-sm-4">
        <div class="form-check form-check-inline" *ngFor="let item of roles, let index = index">
          <label class="form-check-label">{{item.name}}</label>
          <input type="radio" class="form-check-input" id="role" [value]="item.value" formControlName="role"
                 [checked]="item.checked" (change)="verifyChange($event)">
        </div>
      </div>
    </div>

    <div class="col-md-6 text-center">
      <button class="btn btn-success mr-3" [disabled]="formModify.invalid" (click)="modifyUser()">Valider</button>
      <a routerLink="/users">
        <button class="btn btn-danger">Annuler</button>
      </a>
    </div>
    <br/>
    <div class="col-md-6">
      <ngb-alert *ngIf="availableMessage" [type]="typeMessage" (close)="successMessage = ''">{{ successMessage }}</ngb-alert>
    </div>
  </div>
</form>
